@import 'basic.scss';

// ** Your Style goes here **

// ! ----- Core Style Rules -----

body {
    font-size: $font-size-step-300;
    line-height: $space-s-m; // 1.6rem
    text-shadow: 0 0.05rem 0.2rem rgba($dark-black, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $BigNoodle;
    line-height: $space-xs-s; // 1.2rem
    margin-bottom: $space-m; // 2rem

}

h1 {
    font-size: $font-size-step-800; 
}

h2 {
    font-size: $font-size-step-700; 
}

h3 {
    font-size: $font-size-step-600; 
}

h4 {
    font-size: $font-size-step-500; 
}

h5 {
    font-size: $font-size-step-400; 
}

h6 {
    font-size: $font-size-step-300; 
}

// ------------- Media Queries -------------

html {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: $bg-color;
        color: $text-color;
    }

    a, i {
        color: $text-color;
    }
}

@media (prefers-color-scheme: light) {
    html,
    body {
        background-color: $text-color;
        color: $bg-color;
    }

    a {
        color: $bg-color;
    }
}

// ! ----- Main Styles -----

// ------------- Tailwind Styles -------------

@layer components {
    body {
        @apply border-none outline-none;
    }

    .container {
        @apply w-[1100px] bg-slate-50 text-black border rounded-md shadow-lg p-4 overflow-hidden relative;
    }

    .container .icon {
        @apply absolute top-0 flex items-center h-full w-36;
    }

    .icon.icon-left {
        @apply left-0 pl-4 bg-gradient-to-r from-slate-50 to-transparent from-50% hidden;
    }

    .icon.icon-right {
        @apply right-0 pr-4 justify-end bg-gradient-to-l from-slate-50 to-transparent from-50%;
    }

    .icon i {
        @apply h-12 w-12 leading-[44px] text-center hover:bg-slate-200 rounded-full text-2xl cursor-pointer ease-in-out duration-300;
    }

    .icon.icon.icon-right i {
        @apply pl-1;
    }

    .tab.active {
        @apply bg-cyan-500 hover:bg-cyan-600;
    }

    .tab {
        @apply inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-black bg-slate-300 hover:bg-slate-400 hover:text-slate-50 active:bg-cyan-500 cursor-pointer ease-in-out duration-300;
    }

    .tabs {
        @apply flex items-center gap-5 overflow-x-hidden whitespace-nowrap scroll-smooth;
    }

    .tabs.drag{
        @apply cursor-grab scroll-auto;
    }

    .tabs.drag .tab {
        @apply pointer-events-none select-none;
    }
}