/* Farbvariablen */
:root {
    --bg-color: #d6cd9a; /* Hintergrundfarbe */
    --text-color: #363261; /* Textfarbe */
    --button-color: #232041; /* Button-Farbe */
    --light-text-color: #8a86ba; /* Helle Textfarbe */
    --light-beige-color: #fff8d1; /* Helle Beigefarbe */
    --light-beige-color-hover: #fcda6a; /* Helle Beigefarbe beim Hovern */
    --dark-beige-color: #8a8255; /* Dunkle Beigefarbe */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Fira Code', monospace; /* Schriftart für das gesamte Dokument */
    color: var(--text-color); /* Textfarbe */
    background-color: var(--bg-color); /* Hintergrundfarbe */
    width: 100vw; /* Breite des Viewports */
    height: 100vh; /* Höhe des Viewports */
    display: flex; /* Flexibles Layout */
    justify-content: center; /* Zentrierte Ausrichtung horizontal */
    align-items: center; /* Zentrierte Ausrichtung vertikal */
}

h1 {
    color: var(--light-text-color); /* Helle Textfarbe */
    margin-bottom: 1rem; /* Abstand nach unten */
}

.wrapper {
    display: flex; /* Flexibles Layout */
    flex-direction: column; /* Anordnung der Elemente in Spalten */
    align-items: center; /* Zentrierte Ausrichtung horizontal */
    background-color: #011016; /* Hintergrundfarbe */
    padding: 1rem; /* Innenabstand */
    border-radius: 10px; /* Abrundung der Ecken */
}

#calculator {
    width: 200px; /* Breite des Taschenrechners */
}

#display {
    width: 100%; /* Breite des Anzeigefelds */
    height: 30px; /* Höhe des Anzeigefelds */
    text-align: right; /* Ausrichtung des Texts nach rechts */
    background-color: var(--text-color); /* Hintergrundfarbe */
    color: var(--light-beige-color); /* Textfarbe */
    border-radius: 8px 8px 0 0; /* Abrundung der oberen Ecken */
    padding: 0 4px; /* Innenabstand */
}

#displayResult {
    width: 100%; /* Breite des Ergebnisfelds */
    height: 50px; /* Höhe des Ergebnisfelds */
    text-align: right; /* Ausrichtung des Texts nach rechts */
    background-color: var(--text-color); /* Hintergrundfarbe */
    color: var(--light-beige-color); /* Textfarbe */
    margin-bottom: 10px; /* Abstand nach unten */
    border-radius: 0 0 8px 8px; /* Abrundung der unteren Ecken */
    padding: 0 4px; /* Innenabstand */
    font-size: 2rem; /* Schriftgröße */
    font-weight: bolder; /* Fettschrift */
}

#buttons {
    display: grid; /* Grid-Layout */
    gap: 0.2rem; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(4,1fr); /* Anzahl der Spalten und ihre Breite */
}

button {
    width: 100%; /* Breite des Buttons */
    height: 50px; /* Höhe des Buttons */
    border: none; /* Kein Rahmen */
    border-radius: 5px; /* Abrundung der Ecken */
    background-color: var(--button-color); /* Hintergrundfarbe */
    color: var(--light-beige-color); /* Textfarbe */
    font-size: 1.2rem; /* Schriftgröße */
    cursor: pointer; /* Zeiger beim Hovern */
    transition: all 0.2s ease-in-out; /* Übergangseffekt */
}

button:hover {
    background-color: var(--light-beige-color-hover); /* Hintergrundfarbe beim Hovern */
    color: var(--light-text-color); /* Textfarbe beim Hovern */
    transform: scale(1.02); /* Skalierung beim Hovern */
}

button:active {
    background-color: var(--dark-beige-color); /* Hintergrundfarbe beim Klicken */
    color: var(--light-text-color); /* Textfarbe beim Klicken */
}

.transparent {
    background-color: transparent; /* Transparenter Hintergrund */
    border: none; /* Kein Rahmen */
}

button.transparent:hover {
    background-color: transparent; /* Transparenter Hintergrund beim Hovern */
    cursor: default; /* Standardzeiger beim Hovern */
}
