@tailwind base;
@tailwind components;
@tailwind utilities;

// ------------- Color Variables -------------

$text-color: #dcdcdc;
$text-color-fliped: #17141c;
$bg-color: #17141c;
$prime: #ff8a00;
$secondary: #39bbeb;
$tertiary: #3ecc13;

$pure-white: #fff;
$dark-greyish-blue: #17141c;
$dark-grey-blue: #011016;
$dark-black: #051015;
$grey-10: #f5f5f5;
$grey-20: #ebebeb;
$grey-30: #e1e1e1;
$grey-40: #d7d7d7;
$grey-50: #cdcdcd;
$grey-60: #c3c3c3;
$grey-100: #a6a6a6;
$grey-200: #8a8a8a;
$grey-300: #6e6e6e;
$grey-400: #525252;
$grey-500: #363636;
$grey-600: #1e1e1e;
$grey-700: #020202;
$greyish-white: #dcdcdc;
$prime-orange: #ff8a00;
$prime-red: #dc2200;
$prime-dark-red: #ad1a00;
$prime-green: #3ecc13;
$prime-dark-green: #28a103;
$prime-blue: #39bbeb;
$prime-dark-blue: #179ccc;
$special: #924cff;
$neon-lite-cyan: #4deeea;
$neon-cyan: #00c6fb;
$neon-lite-green: #74ee15;
$neon-green: #00ff00;
$neon-lite-yellow: #ffe700;
$neon-yellow: #ffcc00;
$neon-lite-magenta: #f000ff;
$neon-magenta: #ff00ff;
$neon-lite-red: #ff006e;
$neon-red: #ff0000;

// ------------- Font Size Variables -------------

$font-size-step-100: clamp(0.79rem, calc(0.79rem + 0.01vw), 0.80rem);
$font-size-step-200: clamp(0.89rem, calc(0.87rem + 0.08vw), 1.00rem);
$font-size-step-300: clamp(1.00rem, calc(0.96rem + 0.18vw), 1.25rem);
$font-size-step-400: clamp(1.13rem, calc(1.06rem + 0.31vw), 1.56rem);
$font-size-step-500: clamp(1.27rem, calc(1.17rem + 0.49vw), 1.95rem);
$font-size-step-600: clamp(1.42rem, calc(1.28rem + 0.73vw), 2.44rem);
$font-size-step-700: clamp(1.60rem, calc(1.39rem + 1.04vw), 3.05rem);
$font-size-step-800: clamp(1.80rem, calc(1.51rem + 1.44vw), 3.82rem);

// ------------- Custom Spacing Variables -------------

$space-3xs: clamp(0.25rem, calc(0.24rem + 0.04vw), 0.31rem);
$space-2xs: clamp(0.50rem, calc(0.48rem + 0.09vw), 0.63rem);
$space-xs: clamp(0.75rem, calc(0.72rem + 0.13vw), 0.94rem);
$space-s: clamp(1.00rem, calc(0.96rem + 0.18vw), 1.25rem);
$space-m: clamp(1.50rem, calc(1.45rem + 0.27vw), 1.88rem);
$space-l: clamp(2.00rem, calc(1.93rem + 0.36vw), 2.50rem);
$space-xl: clamp(3.00rem, calc(2.89rem + 0.54vw), 3.75rem);
$space-2xl: clamp(4.00rem, calc(3.86rem + 0.71vw), 5.00rem);
$space-3xl: clamp(6.00rem, calc(5.79rem + 1.07vw), 7.50rem);
$space-4xl: clamp(8.00rem, calc(7.71rem + 1.43vw), 10.00rem);
$space-5xl: clamp(12.00rem, calc(11.57rem + 2.14vw), 15.00rem);

/* One-up pairs */
$space-3xs-2xs: clamp(0.25rem, calc(0.20rem + 0.27vw), 0.63rem);
$space-2xs-xs: clamp(0.50rem, calc(0.44rem + 0.31vw), 0.94rem);
$space-xs-s: clamp(0.75rem, calc(0.68rem + 0.36vw), 1.25rem);
$space-s-m: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.88rem);
$space-m-l: clamp(1.50rem, calc(1.36rem + 0.71vw), 2.50rem);
$space-l-xl: clamp(2.00rem, calc(1.75rem + 1.25vw), 3.75rem);
$space-xl-2xl: clamp(3.00rem, calc(2.71rem + 1.43vw), 5.00rem);
$space-2xl-3xl: clamp(4.00rem, calc(3.50rem + 2.50vw), 7.50rem);
$space-3xl-4xl: clamp(6.00rem, calc(5.43rem + 2.86vw), 10.00rem);
$space-4xl-5xl: clamp(8.00rem, calc(7.00rem + 5.00vw), 15.00rem);

/* Custom pairs */
$space-s-l: clamp(1.00rem, calc(0.79rem + 1.07vw), 2.50rem);

// ------------- Font Variables -------------

$FiraCode: 'Fira_Code';
$BigNoodle: 'Big_Noodle_Titling';
$Raleway: 'Raleway';

// ** FiraCode **

@font-face {
    font-family: $FiraCode;
    src: url(../fonts/FiraCode-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: $FiraCode;
    src: url(../fonts/FiraCode-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: $FiraCode;
    src: url(../fonts/FiraCode-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: $FiraCode;
    src: url(../fonts/FiraCode-SemiBold.ttf) format('truetype');
    font-weight: 550;
}
@font-face {
    font-family: $FiraCode;
    src: url(../fonts/FiraCode-Bold.ttf) format('truetype');
    font-weight: 600;
}

// ** BigNoodle **

@font-face {
    font-family: $BigNoodle;
    src: url(../fonts/big_noodle_titling.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: $BigNoodle;
    src: url(../fonts/big_noodle_titling_oblique.ttf) format('truetype');
    font-weight: 600;
}

// ** Raleway **

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-Thin.ttf) format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-ExtraLight.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: $Raleway;
    src: url(../fonts/Raleway-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}

// ------------- new Basic Styles Reset-------------
// https://piccalil.li/blog/a-modern-css-reset
// Made some changes to the original code


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/**
 * Der folgende Code setzt die list-style-Eigenschaft auf "none" für ul- und ol-Elemente mit dem Attribut role='list'.
 * Dadurch werden die Standard-Aufzählungspunkte (wie Bulletpoints oder Zahlen) entfernt.
 * Dies ist nützlich, wenn benutzerdefinierte Aufzählungsstile verwendet werden sollen oder wenn keine Aufzählung gewünscht ist.
 */

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/**
 * Der folgende Code setzt das scroll-behavior-Attribut auf "smooth" für das html-Element,
 * wenn es den Fokus erhält (wenn ein Element innerhalb des html-Elements ausgewählt wird).
 * Dies führt dazu, dass ein sanftes Scrollen zu dem ausgewählten Element ausgeführt wird.
 * Die Verwendung von smooth beim Scrollen kann eine angenehmere Benutzererfahrung bieten.
 */
 
html:focus-within {
    scroll-behavior: smooth;
}

/**
 * Der folgende Code legt die Stileigenschaften für das body-Element fest.
 * 
 * min-height: 100vh; - Setzt die Mindesthöhe des body-Elements auf 100% der Bildschirmhöhe.
 * Dies stellt sicher, dass der Body-Bereich immer mindestens die gesamte Höhe des Viewports einnimmt.
 * 
 * text-rendering: optimizeSpeed; - Optimiert die Geschwindigkeit der Textdarstellung.
 * Dies kann dazu beitragen, dass der Text schneller gerendert wird und eine flüssigere Benutzererfahrung ermöglicht.
 * 
 * line-height: 1.5; - Legt den Zeilenabstand (line-height) des Textes im Body-Element auf den Wert 1.5 fest.
 * Ein größerer Zeilenabstand kann zu einer besseren Lesbarkeit des Textes führen.
 */
 
html,
body {
    height: 100%;
}

 body {
    text-rendering: optimizeSpeed;
    font-family: $Raleway;
    font-weight: 400;
    font-size: $font-size-step-200;
    // line-height: calc($font-size-step-300 + 0.6rem);
    word-spacing: 0.2rem;
    letter-spacing: 0.2rem;
    overflow-x: hidden;
}

/**
 * Der folgende Code legt die Stileigenschaften für Links fest, die kein class-Attribut haben.
 * 
 * text-decoration-skip-ink: auto; - Diese Eigenschaft steuert das Überspringen von Tinte (Tintensparmodus) bei der Textdekoration für Links.
 * Wenn der Wert auf "auto" gesetzt ist, wird der Tintensparmodus automatisch angewendet, basierend auf den Einstellungen des Browsers.
 * Dies kann dazu beitragen, dass die Textdekoration besser lesbar bleibt und nicht von der Tinte verwischt oder übermalt wird.
 */
 
a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
video,
svg, 
picture, 
canvas {
    max-width: 100%;
    display: block;
}

@media(prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}