@import 'basic.scss';

// ** Your Style goes here **

// ! ----- Core Style Rules -----

body {
    font-size: $font-size-step-300;
    line-height: calc($space-s-m + 0.4rem);
    text-shadow: 0 0.05rem 0.2rem rgba($dark-black, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $BigNoodle;
    line-height: calc($space-m + 0.6rem);
    margin-bottom: $space-m;

}

h1 {
    font-size: $font-size-step-800; 
}

h2 {
    font-size: $font-size-step-700; 
}

h3 {
    font-size: $font-size-step-600; 
}

h4 {
    font-size: $font-size-step-500; 
}

h5 {
    font-size: $font-size-step-400; 
}

h6 {
    font-size: $font-size-step-300; 
}

// ------------- Media Queries -------------

html {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: $bg-color;
        color: $text-color;
    }

    a, i {
        color: $text-color;
    }
}

@media (prefers-color-scheme: light) {
    html,
    body {
        background-color: $text-color;
        color: $bg-color;
    }

    a {
        color: $bg-color;
    }
}

// ! ----- Main Styles -----

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: calc(100vw - 2 * $space-xl);
    position: relative;
    padding: $space-m;
    overflow: hidden;
    overflow-y: auto;
    filter: blur(0rem);
    animation: blurry 5s ease-in;
}

@keyframes blurry {
    0% {
        filter: blur(0.4rem);
    }

    100% {
        filter: blur(0rem);
    }
}

h1 {
    margin-bottom: $space-l-xl;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}

p {
    font-size: $font-size-step-600;
    text-transform: uppercase;
    letter-spacing: 0rem;
    font-weight: 600;
    color: $pure-white;
}

.one span {
    font-size: calc($font-size-step-800 + 3rem);
    letter-spacing: -0.2rem;
    color: $neon-yellow;
}

.two {
    font-size: calc($font-size-step-800 + 2.4rem);
    margin-block: 2rem;
}

.two span:nth-child(1) {
    position: absolute;
    top: 8.6rem;
    font-size: calc($font-size-step-800 + 12rem);
    color: $grey-100;
}


.two span:nth-child(2) {
    position: absolute;
    top: 6rem;
    right: 3.5rem;
    font-size: calc($font-size-step-800 + 4rem);
}

.two span:nth-child(3) {
    position: absolute;
    top: 6rem;
    right: 0rem;
    font-size: calc($font-size-step-800 + 4rem);
}

.tree {
    position: absolute;
    top: 12rem;
    left: 13.3rem;
    font-size: calc($font-size-step-700 + 1.2rem);
    text-decoration: line-through;
}

.tree span:nth-child(1) {
    position: absolute;
    top: 0rem;
    left: 13rem;
    text-decoration: line-through;
    color: $grey-100;
    font-size: calc($font-size-step-700 + 1.2rem);
}

.tree span:nth-child(2) {
    position: absolute;
    top: 1.2rem;
    right: -31rem;
    color: $grey-100;
    font-size: calc($font-size-step-700 + 5rem);
}